.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 24px;
    max-width: 600px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 16px 16px 8px 0px rgba(0,0,0,0.56);
    overflow: hidden;
}

.titulo {
    display: block;
    background: linear-gradient(120deg, #1976D2 0%, #8bb0ff 100%);
    padding: 24px 56px;
    color: #fff;
}

.stepper {
    margin: 16px;
}

.formconteudo{
    margin-bottom: 16px;
    position: relative;
}

@media screen and (max-width: 420px) {
    .formconteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .container {
        width: 90%;
        margin-left: 9%;
    }
}